.place__image {
    width: calc((100%/2) - 28px);
    margin: 48px 28px 0 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .place__image {
      font-size: 16px;
      line-height: 1.625;
      width: 100%;
      margin: 32px 0;
    }
  }