.footer__link {
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  display: block;
  margin-bottom: 32px;
  text-decoration: none;
  color: #ffffff;
  transition: opacity .1s linear .5s;
}

.footer__link:hover {
  opacity: .8;
  transition: opacity .1s linear .5s;
}

@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 1.125;
    margin-right: 18px;
    margin-bottom: 0;
  }
}