.lead__title {
  margin: auto;
  text-align: center;
  max-width: 100vw;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .lead__title {
      max-width: 94vw;
      font-size: 96px;
      line-height: 1.04;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
      max-width: 70vw;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
      max-width: 56vw;
  }
}

