@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__links/footer__links.css);
@import url(./__list-item/footer__list-item.css);

.footer {
    display: flex;
    padding-bottom: 24px;
    flex-direction: column;
    width: 58%;
    max-width: 1184px;
    margin: 0 auto 0 16px;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    width: 93.75%;
    margin: auto;
  }  
}

@media screen and (min-width: 1024px) {
  .footer {
    width: 90%;
  }  
}

@media screen and (min-width: 1280px) {
  .footer {
    width: 92.5%;
  }  
}